USE [master]
GO
/****** Object:  Database [Seoul_Stay]    Script Date: 6/6/2026 3:58:57 PM ******/
CREATE DATABASE [Seoul_Stay]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Seoul_Stay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Seoul_Stay]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Gender] [tinyint] NOT NULL,
	[BirthDate] [date] NULL,
	[Country] [nvarchar](50) NULL,
	[ProfilePicture] [varchar](500) NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[UserID] [bigint] NOT NULL,
	[LoyaltyPoints] [int] NOT NULL,
	[PreferredLanguage] [varchar](10) NULL,
	[NationalID] [nvarchar](50) NULL,
	[NationalIDVerified] [bit] NOT NULL,
 CONSTRAINT [PK_Guests] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hosts]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hosts](
	[UserID] [bigint] NOT NULL,
	[BusinessLicense] [nvarchar](100) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[IsVerified] [bit] NOT NULL,
	[VerifiedDate] [datetime] NULL,
	[Rating] [decimal](3, 2) NULL,
	[TotalReviews] [int] NOT NULL,
	[JoinedAsHostDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Hosts] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserRoles]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    -- ============================================================
    -- VIEWS
    -- ============================================================
    CREATE VIEW [dbo].[vw_UserRoles] AS
    SELECT
        u.[ID]         AS UserID,
        u.[Username],
        u.[FullName],
        u.[Email],
        u.[IsAdmin],
        CASE WHEN h.[UserID] IS NOT NULL THEN 1 ELSE 0 END AS IsHost,
        CASE WHEN g.[UserID] IS NOT NULL THEN 1 ELSE 0 END AS IsGuest,
        h.[IsVerified]      AS HostVerified,
        h.[Rating]          AS HostRating,
        g.[LoyaltyPoints]   AS GuestLoyaltyPoints
    FROM [dbo].[Users] u
    LEFT JOIN [dbo].[Hosts]  h ON h.[UserID] = u.[ID]
    LEFT JOIN [dbo].[Guests] g ON g.[UserID] = u.[ID]

GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[GuestUserID] [bigint] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[NumberOfGuests] [int] NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[FinalPrice] [decimal](10, 2) NOT NULL,
	[CancellationPolicyID] [bigint] NOT NULL,
	[BookingStatus] [varchar](20) NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[SpecialRequests] [nvarchar](1000) NULL,
	[TransactionID] [bigint] NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Bookings_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GuestBookingSummary]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_GuestBookingSummary] AS
    SELECT
        g.[UserID],
        u.[FullName],
        g.[LoyaltyPoints],
        COUNT(b.[ID])                                         AS TotalBookings,
        SUM(CASE WHEN b.[BookingStatus] = 'Completed'
                THEN 1 ELSE 0 END)                           AS CompletedBookings,
        SUM(CASE WHEN b.[BookingStatus] = 'Cancelled'
                THEN 1 ELSE 0 END)                           AS CancelledBookings,
        ISNULL(SUM(CASE WHEN b.[BookingStatus] = 'Completed'
                        THEN b.[FinalPrice] END), 0)           AS TotalSpent
    FROM [dbo].[Guests] g
    JOIN [dbo].[Users]  u ON u.[ID] = g.[UserID]
    LEFT JOIN [dbo].[Bookings] b ON b.[GuestUserID] = g.[UserID]
    GROUP BY g.[UserID], u.[FullName], g.[LoyaltyPoints]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[HostUserID] [bigint] NOT NULL,
	[ItemTypeID] [bigint] NOT NULL,
	[AreaID] [bigint] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
	[NumberOfBeds] [int] NOT NULL,
	[NumberOfBedrooms] [int] NOT NULL,
	[NumberOfBathrooms] [int] NOT NULL,
	[ExactAddress] [nvarchar](500) NOT NULL,
	[ApproximateAddress] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[HostRules] [nvarchar](2000) NOT NULL,
	[MinimumNights] [int] NOT NULL,
	[MaximumNights] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Items_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HostPerformance]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_HostPerformance] AS
    SELECT
        h.[UserID]              AS HostUserID,
        u.[FullName],
        h.[IsVerified],
        h.[Rating],
        h.[TotalReviews],
        COUNT(DISTINCT i.[ID])  AS TotalListings,
        COUNT(DISTINCT b.[ID])  AS TotalBookingsReceived,
        ISNULL(SUM(CASE WHEN b.[BookingStatus] = 'Completed'
                        THEN b.[FinalPrice] END), 0) AS TotalRevenue
    FROM [dbo].[Hosts] h
    JOIN [dbo].[Users] u   ON u.[ID]         = h.[UserID]
    LEFT JOIN [dbo].[Items] i ON i.[HostUserID] = h.[UserID]
    LEFT JOIN [dbo].[Bookings] b ON b.[ItemID]  = i.[ID]
    GROUP BY h.[UserID], u.[FullName], h.[IsVerified], h.[Rating], h.[TotalReviews]

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddonServiceDetails]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddonServiceDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[AddonServiceID] [bigint] NOT NULL,
	[ServiceID] [bigint] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[Notes] [nvarchar](250) NULL,
	[NumberOfPeople] [bigint] NOT NULL,
	[isRefund] [bit] NOT NULL,
 CONSTRAINT [PK_AddonServiceDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AddonServiceDetails_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddonServices]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddonServices](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[BookingID] [bigint] NULL,
	[CouponID] [bigint] NULL,
 CONSTRAINT [PK_AddonServices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AddonServices_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IconName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Amenities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Amenities_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Areas_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attractions]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attractions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[AreaID] [bigint] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Attractions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Attractions_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingCoupons]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingCoupons](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[CouponID] [bigint] NOT NULL,
	[DiscountApplied] [decimal](10, 2) NOT NULL,
	[AppliedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BookingCoupons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BookingCoupons_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BookingCoupons_Pair] UNIQUE NONCLUSTERED 
(
	[BookingID] ASC,
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[ItemPriceID] [bigint] NOT NULL,
	[isRefund] [bit] NOT NULL,
	[RefundDate] [date] NULL,
	[RefundCancellationPolicyID] [bigint] NULL,
 CONSTRAINT [PK_BookingDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BookingDetails_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingStatusHistory]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStatusHistory](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[OldStatus] [varchar](20) NULL,
	[NewStatus] [varchar](20) NOT NULL,
	[ChangedDate] [datetime] NOT NULL,
	[ChangedByUserID] [bigint] NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_BookingStatusHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BookingStatusHistory_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancellationPolicies]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancellationPolicies](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PlatformCommissionRate] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_CancellationPolicies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CancellationPolicies_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancellationRefundFees]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancellationRefundFees](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CancellationPolicyID] [bigint] NOT NULL,
	[DaysLeft] [int] NOT NULL,
	[PenaltyPercentage] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_CancellationRefundFees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CancellationRefundFees_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CouponCode] [nvarchar](50) NOT NULL,
	[DiscountPercent] [decimal](4, 1) NOT NULL,
	[MaximumDiscountAmount] [decimal](10, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[ExpirationDate] [date] NULL,
	[MaxUsageCount] [int] NULL,
	[CurrentUsageCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Coupons_CouponCode] UNIQUE NONCLUSTERED 
(
	[CouponCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Coupons_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDates]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDates](
	[ID] [bigint] NOT NULL,
	[Date] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[MonthName] [varchar](10) NOT NULL,
	[DayOfMonth] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[DayName] [varchar](10) NOT NULL,
	[IsHoliday] [bit] NOT NULL,
 CONSTRAINT [PK_DimDates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimDates_Date] UNIQUE NONCLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HostBankAccounts]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostBankAccounts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[HostUserID] [bigint] NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[AccountNumber] [varchar](100) NOT NULL,
	[AccountHolder] [nvarchar](100) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_HostBankAccounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HostBankAccounts_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[InvoiceCode] [nvarchar](50) NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[DueDate] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaidDate] [datetime] NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Invoices_Booking] UNIQUE NONCLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Invoices_Code] UNIQUE NONCLUSTERED 
(
	[InvoiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Invoices_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemAmenities]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAmenities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[AmenityID] [bigint] NOT NULL,
 CONSTRAINT [PK_ItemAmenities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemAmenities_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemAmenities_Pair] UNIQUE NONCLUSTERED 
(
	[ItemID] ASC,
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemAttractions]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAttractions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[AttractionID] [bigint] NOT NULL,
	[Distance] [decimal](5, 1) NULL,
	[DurationOnFoot] [int] NULL,
	[DurationByCar] [int] NULL,
 CONSTRAINT [PK_ItemAttractions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemAttractions_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemAttractions_Pair] UNIQUE NONCLUSTERED 
(
	[ItemID] ASC,
	[AttractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemAvailability]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAvailability](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[Date] [date] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_ItemAvailability] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemAvailability_ItemDate] UNIQUE NONCLUSTERED 
(
	[ItemID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPictures]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPictures](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[PictureFileName] [nvarchar](500) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_ItemPictures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemPictures_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPrices]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPrices](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[Date] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CancellationPolicyID] [bigint] NOT NULL,
 CONSTRAINT [PK_ItemPrices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemPrices_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemPrices_ItemDate] UNIQUE NONCLUSTERED 
(
	[ItemID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemScores]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemScores](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[ScoreID] [bigint] NOT NULL,
	[Value] [bigint] NOT NULL,
 CONSTRAINT [PK_ItemScores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemScores_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemScores_Pair] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ItemID] ASC,
	[ScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTypes]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Icon] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_ItemTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ItemTypes_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[ReviewerID] [bigint] NOT NULL,
	[RevieweeID] [bigint] NULL,
	[ItemID] [bigint] NULL,
	[Rating] [tinyint] NOT NULL,
	[Comment] [nvarchar](2000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Reviews_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Scores_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ServiceTypeID] [bigint] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Duration] [bigint] NULL,
	[Description] [nvarchar](1000) NULL,
	[DayOfWeek] [nvarchar](100) NULL,
	[DayOfMonth] [nvarchar](100) NULL,
	[DailyCap] [bigint] NOT NULL,
	[BookingCap] [bigint] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Services_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[IconName] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_ServiceTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ServiceTypes_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[TransactionTypeID] [bigint] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[GatewayReturnID] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Transactions_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 6/6/2026 3:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TransactionTypes_GUID] UNIQUE NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddonServiceDetails] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[AddonServiceDetails] ADD  DEFAULT ((1)) FOR [NumberOfPeople]
GO
ALTER TABLE [dbo].[AddonServiceDetails] ADD  DEFAULT ((0)) FOR [isRefund]
GO
ALTER TABLE [dbo].[AddonServices] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Amenities] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Areas] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Attractions] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[BookingCoupons] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[BookingCoupons] ADD  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[BookingDetails] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[BookingDetails] ADD  DEFAULT ((0)) FOR [isRefund]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[BookingStatusHistory] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[BookingStatusHistory] ADD  DEFAULT (getdate()) FOR [ChangedDate]
GO
ALTER TABLE [dbo].[CancellationPolicies] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[CancellationRefundFees] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (CONVERT([date],getdate())) FOR [StartDate]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [CurrentUsageCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DimDates] ADD  DEFAULT ((0)) FOR [IsHoliday]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT ('en') FOR [PreferredLanguage]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT ((0)) FOR [NationalIDVerified]
GO
ALTER TABLE [dbo].[HostBankAccounts] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[HostBankAccounts] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[HostBankAccounts] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[HostBankAccounts] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HostBankAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Hosts] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Hosts] ADD  DEFAULT ((0)) FOR [TotalReviews]
GO
ALTER TABLE [dbo].[Hosts] ADD  DEFAULT (getdate()) FOR [JoinedAsHostDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ItemAmenities] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ItemAttractions] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ItemAvailability] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[ItemPictures] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ItemPictures] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ItemPrices] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [MinimumNights]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((365)) FOR [MaximumNights]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ItemScores] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ItemTypes] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Scores] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [DailyCap]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [BookingCap]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[TransactionTypes] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AddonServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_AddonServiceDetails_AddonServices] FOREIGN KEY([AddonServiceID])
REFERENCES [dbo].[AddonServices] ([ID])
GO
ALTER TABLE [dbo].[AddonServiceDetails] CHECK CONSTRAINT [FK_AddonServiceDetails_AddonServices]
GO
ALTER TABLE [dbo].[AddonServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_AddonServiceDetails_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ID])
GO
ALTER TABLE [dbo].[AddonServiceDetails] CHECK CONSTRAINT [FK_AddonServiceDetails_Services]
GO
ALTER TABLE [dbo].[AddonServices]  WITH CHECK ADD  CONSTRAINT [FK_AddonServices_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([ID])
GO
ALTER TABLE [dbo].[AddonServices] CHECK CONSTRAINT [FK_AddonServices_Bookings]
GO
ALTER TABLE [dbo].[AddonServices]  WITH CHECK ADD  CONSTRAINT [FK_AddonServices_Coupons] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([ID])
GO
ALTER TABLE [dbo].[AddonServices] CHECK CONSTRAINT [FK_AddonServices_Coupons]
GO
ALTER TABLE [dbo].[AddonServices]  WITH CHECK ADD  CONSTRAINT [FK_AddonServices_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[AddonServices] CHECK CONSTRAINT [FK_AddonServices_Users]
GO
ALTER TABLE [dbo].[Attractions]  WITH CHECK ADD  CONSTRAINT [FK_Attractions_Areas] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([ID])
GO
ALTER TABLE [dbo].[Attractions] CHECK CONSTRAINT [FK_Attractions_Areas]
GO
ALTER TABLE [dbo].[BookingCoupons]  WITH CHECK ADD  CONSTRAINT [FK_BookingCoupons_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([ID])
GO
ALTER TABLE [dbo].[BookingCoupons] CHECK CONSTRAINT [FK_BookingCoupons_Bookings]
GO
ALTER TABLE [dbo].[BookingCoupons]  WITH CHECK ADD  CONSTRAINT [FK_BookingCoupons_Coupons] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([ID])
GO
ALTER TABLE [dbo].[BookingCoupons] CHECK CONSTRAINT [FK_BookingCoupons_Coupons]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([ID])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Bookings]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_ItemPrices] FOREIGN KEY([ItemPriceID])
REFERENCES [dbo].[ItemPrices] ([ID])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_ItemPrices]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_RefundPolicy] FOREIGN KEY([RefundCancellationPolicyID])
REFERENCES [dbo].[CancellationPolicies] ([ID])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_RefundPolicy]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_CancellationPolicies] FOREIGN KEY([CancellationPolicyID])
REFERENCES [dbo].[CancellationPolicies] ([ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_CancellationPolicies]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_CheckInDate_DimDates] FOREIGN KEY([CheckInDate])
REFERENCES [dbo].[DimDates] ([Date])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_CheckInDate_DimDates]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_CheckOutDate_DimDates] FOREIGN KEY([CheckOutDate])
REFERENCES [dbo].[DimDates] ([Date])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_CheckOutDate_DimDates]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Guests] FOREIGN KEY([GuestUserID])
REFERENCES [dbo].[Guests] ([UserID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Guests]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Items]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Transactions]
GO
ALTER TABLE [dbo].[BookingStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_BookingStatusHistory_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([ID])
GO
ALTER TABLE [dbo].[BookingStatusHistory] CHECK CONSTRAINT [FK_BookingStatusHistory_Bookings]
GO
ALTER TABLE [dbo].[BookingStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_BookingStatusHistory_ChangedByUser] FOREIGN KEY([ChangedByUserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[BookingStatusHistory] CHECK CONSTRAINT [FK_BookingStatusHistory_ChangedByUser]
GO
ALTER TABLE [dbo].[CancellationRefundFees]  WITH CHECK ADD  CONSTRAINT [FK_CancellationRefundFees_CancellationPolicies] FOREIGN KEY([CancellationPolicyID])
REFERENCES [dbo].[CancellationPolicies] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CancellationRefundFees] CHECK CONSTRAINT [FK_CancellationRefundFees_CancellationPolicies]
GO
ALTER TABLE [dbo].[Guests]  WITH CHECK ADD  CONSTRAINT [FK_Guests_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Guests] CHECK CONSTRAINT [FK_Guests_Users]
GO
ALTER TABLE [dbo].[HostBankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_HostBankAccounts_Hosts] FOREIGN KEY([HostUserID])
REFERENCES [dbo].[Hosts] ([UserID])
GO
ALTER TABLE [dbo].[HostBankAccounts] CHECK CONSTRAINT [FK_HostBankAccounts_Hosts]
GO
ALTER TABLE [dbo].[Hosts]  WITH CHECK ADD  CONSTRAINT [FK_Hosts_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hosts] CHECK CONSTRAINT [FK_Hosts_Users]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Booking]
GO
ALTER TABLE [dbo].[ItemAmenities]  WITH CHECK ADD  CONSTRAINT [FK_ItemAmenities_Amenities] FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenities] ([ID])
GO
ALTER TABLE [dbo].[ItemAmenities] CHECK CONSTRAINT [FK_ItemAmenities_Amenities]
GO
ALTER TABLE [dbo].[ItemAmenities]  WITH CHECK ADD  CONSTRAINT [FK_ItemAmenities_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemAmenities] CHECK CONSTRAINT [FK_ItemAmenities_Items]
GO
ALTER TABLE [dbo].[ItemAttractions]  WITH CHECK ADD  CONSTRAINT [FK_ItemAttractions_Attractions] FOREIGN KEY([AttractionID])
REFERENCES [dbo].[Attractions] ([ID])
GO
ALTER TABLE [dbo].[ItemAttractions] CHECK CONSTRAINT [FK_ItemAttractions_Attractions]
GO
ALTER TABLE [dbo].[ItemAttractions]  WITH CHECK ADD  CONSTRAINT [FK_ItemAttractions_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemAttractions] CHECK CONSTRAINT [FK_ItemAttractions_Items]
GO
ALTER TABLE [dbo].[ItemAvailability]  WITH CHECK ADD  CONSTRAINT [FK_ItemAvailability_DimDates] FOREIGN KEY([Date])
REFERENCES [dbo].[DimDates] ([Date])
GO
ALTER TABLE [dbo].[ItemAvailability] CHECK CONSTRAINT [FK_ItemAvailability_DimDates]
GO
ALTER TABLE [dbo].[ItemAvailability]  WITH CHECK ADD  CONSTRAINT [FK_ItemAvailability_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemAvailability] CHECK CONSTRAINT [FK_ItemAvailability_Items]
GO
ALTER TABLE [dbo].[ItemPictures]  WITH CHECK ADD  CONSTRAINT [FK_ItemPictures_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemPictures] CHECK CONSTRAINT [FK_ItemPictures_Items]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [FK_ItemPrices_CancellationPolicies] FOREIGN KEY([CancellationPolicyID])
REFERENCES [dbo].[CancellationPolicies] ([ID])
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [FK_ItemPrices_CancellationPolicies]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [FK_ItemPrices_DimDates] FOREIGN KEY([Date])
REFERENCES [dbo].[DimDates] ([Date])
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [FK_ItemPrices_DimDates]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [FK_ItemPrices_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [FK_ItemPrices_Items]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Areas] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Areas]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Hosts] FOREIGN KEY([HostUserID])
REFERENCES [dbo].[Hosts] ([UserID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Hosts]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_ItemTypes] FOREIGN KEY([ItemTypeID])
REFERENCES [dbo].[ItemTypes] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_ItemTypes]
GO
ALTER TABLE [dbo].[ItemScores]  WITH CHECK ADD  CONSTRAINT [FK_ItemScores_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[ItemScores] CHECK CONSTRAINT [FK_ItemScores_Items]
GO
ALTER TABLE [dbo].[ItemScores]  WITH CHECK ADD  CONSTRAINT [FK_ItemScores_Scores] FOREIGN KEY([ScoreID])
REFERENCES [dbo].[Scores] ([ID])
GO
ALTER TABLE [dbo].[ItemScores] CHECK CONSTRAINT [FK_ItemScores_Scores]
GO
ALTER TABLE [dbo].[ItemScores]  WITH CHECK ADD  CONSTRAINT [FK_ItemScores_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ItemScores] CHECK CONSTRAINT [FK_ItemScores_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Bookings]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Items]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Reviewee] FOREIGN KEY([RevieweeID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Reviewee]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Reviewer] FOREIGN KEY([ReviewerID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Reviewer]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceTypes] FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[ServiceTypes] ([ID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceTypes]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_DimDates] FOREIGN KEY([TransactionDate])
REFERENCES [dbo].[DimDates] ([Date])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_DimDates]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionTypes] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionTypes] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionTypes]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Dates] CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Dates]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Discount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Discount]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_FinalPrice] CHECK  (([FinalPrice]>=(0)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_FinalPrice]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Guests] CHECK  (([NumberOfGuests]>=(1)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Guests]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([BookingStatus]='Refunded' OR [BookingStatus]='Cancelled' OR [BookingStatus]='Completed' OR [BookingStatus]='CheckedIn' OR [BookingStatus]='Confirmed' OR [BookingStatus]='Pending'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[BookingStatusHistory]  WITH CHECK ADD  CONSTRAINT [CK_BSH_NewStatus] CHECK  (([NewStatus]='Refunded' OR [NewStatus]='Cancelled' OR [NewStatus]='Completed' OR [NewStatus]='CheckedIn' OR [NewStatus]='Confirmed' OR [NewStatus]='Pending'))
GO
ALTER TABLE [dbo].[BookingStatusHistory] CHECK CONSTRAINT [CK_BSH_NewStatus]
GO
ALTER TABLE [dbo].[BookingStatusHistory]  WITH CHECK ADD  CONSTRAINT [CK_BSH_OldStatus] CHECK  (([OldStatus] IS NULL OR ([OldStatus]='Refunded' OR [OldStatus]='Cancelled' OR [OldStatus]='Completed' OR [OldStatus]='CheckedIn' OR [OldStatus]='Confirmed' OR [OldStatus]='Pending')))
GO
ALTER TABLE [dbo].[BookingStatusHistory] CHECK CONSTRAINT [CK_BSH_OldStatus]
GO
ALTER TABLE [dbo].[CancellationPolicies]  WITH CHECK ADD  CONSTRAINT [CK_CancellationPolicies_Rate] CHECK  (([PlatformCommissionRate]>=(0) AND [PlatformCommissionRate]<=(100)))
GO
ALTER TABLE [dbo].[CancellationPolicies] CHECK CONSTRAINT [CK_CancellationPolicies_Rate]
GO
ALTER TABLE [dbo].[CancellationRefundFees]  WITH CHECK ADD  CONSTRAINT [CK_CancellationRefundFees_DaysLeft] CHECK  (([DaysLeft]>=(0)))
GO
ALTER TABLE [dbo].[CancellationRefundFees] CHECK CONSTRAINT [CK_CancellationRefundFees_DaysLeft]
GO
ALTER TABLE [dbo].[CancellationRefundFees]  WITH CHECK ADD  CONSTRAINT [CK_CancellationRefundFees_Penalty] CHECK  (([PenaltyPercentage]>=(0) AND [PenaltyPercentage]<=(100)))
GO
ALTER TABLE [dbo].[CancellationRefundFees] CHECK CONSTRAINT [CK_CancellationRefundFees_Penalty]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DateRange] CHECK  (([ExpirationDate] IS NULL OR [ExpirationDate]>[StartDate]))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DateRange]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_Discount] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_Discount]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_Usage] CHECK  (([CurrentUsageCount]>=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_Usage]
GO
ALTER TABLE [dbo].[Guests]  WITH CHECK ADD  CONSTRAINT [CK_Guests_Loyalty] CHECK  (([LoyaltyPoints]>=(0)))
GO
ALTER TABLE [dbo].[Guests] CHECK CONSTRAINT [CK_Guests_Loyalty]
GO
ALTER TABLE [dbo].[Hosts]  WITH CHECK ADD  CONSTRAINT [CK_Hosts_Rating] CHECK  (([Rating] IS NULL OR [Rating]>=(1.00) AND [Rating]<=(5.00)))
GO
ALTER TABLE [dbo].[Hosts] CHECK CONSTRAINT [CK_Hosts_Rating]
GO
ALTER TABLE [dbo].[Hosts]  WITH CHECK ADD  CONSTRAINT [CK_Hosts_Reviews] CHECK  (([TotalReviews]>=(0)))
GO
ALTER TABLE [dbo].[Hosts] CHECK CONSTRAINT [CK_Hosts_Reviews]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_Status] CHECK  (([Status]='Expired' OR [Status]='Cancelled' OR [Status]='Paid' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_Status]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [CK_ItemPrices_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [CK_ItemPrices_Price]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [CK_Items_Capacity] CHECK  (([Capacity]>=(1)))
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [CK_Items_Capacity]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [CK_Items_Nights] CHECK  (([MaximumNights]>=[MinimumNights] AND [MinimumNights]>=(1)))
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [CK_Items_Nights]
GO
ALTER TABLE [dbo].[ItemScores]  WITH CHECK ADD  CONSTRAINT [CK_ItemScores_Value] CHECK  (([Value]>=(1) AND [Value]<=(5)))
GO
ALTER TABLE [dbo].[ItemScores] CHECK CONSTRAINT [CK_ItemScores_Value]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_NotSelf] CHECK  (([ReviewerID]<>[RevieweeID] OR [RevieweeID] IS NULL))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_NotSelf]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Rating]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Target] CHECK  (([RevieweeID] IS NOT NULL AND [ItemID] IS NULL OR [RevieweeID] IS NULL AND [ItemID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Target]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Transactions_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Transactions_Amount]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Gender] CHECK  (([Gender]=(3) OR [Gender]=(2) OR [Gender]=(1) OR [Gender]=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Gender]
GO
USE [master]
GO
